<p>
  <b>Id track:</b>
  <%=h @nresult.id_track %>
</p>

<p>
  <b>Id pilot:</b>
  <%=h @nresult.id_pilot %>
</p>

<p>
  <b>Pp score:</b>
  <%=h @nresult.pp_score %>
</p>

<p>
  <b>Df score:</b>
  <%=h @nresult.df_score %>
</p>

<p>
  <b>Gp score:</b>
  <%=h @nresult.gp_score %>
</p>


<%= link_to 'Edit', edit_nresult_path(@nresult) %> |
<%= link_to 'Back', nresults_path %>