<h1>Editing result</h1>

<% form_for(@result) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id_track %><br />
    <%= f.text_field :id_track %>
  </p>
  <p>
    <%= f.label :is_pp %><br />
    <%= f.check_box :is_pp %>
  </p>
  <p>
    <%= f.label :id_pilot %><br />
    <%= f.text_field :id_pilot %>
  </p>
  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @result %> |
<%= link_to 'Back', results_path %>