<h1>Listing results</h1>

<table>
  <tr>
    <th>Id track</th>
    <th>Is pp</th>
    <th>Id pilot</th>
    <th>Score</th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%=h Track.find(result.id_track).name %></td>
    <td><%=h result.is_pp %></td>
    <td><%=h Pilot.find(result.id_pilot).lname %></td>
    <td><%=h result.score %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
    <td><%= link_to 'Destroy', result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New result', new_result_path %>