<h1>New pilot</h1>

<% form_for(@pilot) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fname %><br />
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label :lname %><br />
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= f.label :img_url %><br />
    <%= f.text_field :img_url %>
  </p>
  
  <p>
  <select name="pilot[id_team]">
   <% @teams.each do |team| %>
       <option value="<%= team.id %>" <%= ' selected' if team.id == @pilot.id_team %>>
         <%= team.team_name %>
       </option>
   <% end %>
  </select>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pilots_path %>